---
import Layout from '../layouts/VimLayout.astro';

import { Image } from 'astro:assets';
import mikuHeart from "../assets/miku_heart.svg";
---

<Layout>
	Hi, I'm <a href="https://github.com/Fripe070">Fripe</a>.
	<br />
	You might know me from <span class="redacted">here</span> and <span class="redacted">there</span>, 
	or you might have just stumbled upon this site in my about me or whatever, and have no clue who I am!
	<br />
	<br />
	I am an experienced programmer, and an <span class="hidden">extremely</span> amateur 3D artist with experience in Blender.
	<br />
	I <Image src={mikuHeart} alt="love" class="emoji" /> voice synthesisers.
	<a href="https://vocadb.net/Ar/50234" style="color:#5fc2cc">Hatsune Miku</a> is awesome and 
	<a href="https://vocadb.net/Ar/34480" style="color:#b560cd">vflower</a> is so cool.
	<br />
	<br />

</Layout>

<style type="scss">
	a {
		all: unset;
		cursor: pointer;
		text-decoration: underline var(--text-muted) 1px;
	}
	.redacted {
		background: var(--text-normal);
	}
	.hidden {
		display: none;
	}
	.emoji {
		display: inline-block;
		width: var(--line-height);
		height: var(--line-height);
		vertical-align: bottom;
	}
</style>
