---
import Layout from '../layouts/VimLayout.astro';

import Heart from "../../public/img/heart.svg?raw"

---

<Layout>
	I'm <a href="https://github.com/Fripe070">Fripe</a>.
	<br />
	You might know me from <span class="redacted">here</span> or <span class="redacted">there</span>.
	<br />
	<br />
	I am an experienced programmer, and an <span class="hidden">extremely</span> amateur 3D artist with experience in Blender.
	<br />
 I primarily use python, but frequent C++ and C#.
 When forced, I also use Java and TS/JS.
 <br />
	I <img class="emoji"src="/img/miku_heart.svg" alt="love" /> music using voice synthesisers.
	Hatsune Miku is so cool, and flower manages to be even cooler.
</Layout>

<style type="scss">
	a {
		all: unset;
		cursor: pointer;
		text-decoration: underline var(--text-muted) 1px;
	}
	.redacted {
		background: var(--text-normal);
	}
	.hidden {
		display: none;
	}
	.emoji {
		display: inline-block;
		width: var(--line-height);
		height: var(--line-height);
		vertical-align: bottom;
	}
</style>
