---
export interface Props {
	title?: string;
}

const { title } = Astro.props;

import TabBar, { type Tab } from '../components/TerminalTabBar.astro';

const tabs: Tab[] = [
	{ title: 'Home', href: '/' }, 
	{ title: 'About', href: '/about' }
];
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">
		<link href="https://www.nerdfonts.com/assets/css/webfont.css" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body>
		<div id="wallpaper" />
		<div id="screen">
			<div id="terminal-window">
				<nav id="titlebar">
					<TabBar tabs={tabs} title={title} />
				</nav>
				<div id="terminal-inner">
					<slot />
				</div>
			</div>
		</div>
	</body>
</html>

<style lang="scss">
	#screen {
		width: 100%;
		height: 100%;
		padding: 1.5ch;
		display: flex;
		justify-content: center;
		backdrop-filter: blur(5px);
	}

	#terminal-window {
		outline: 2px solid var(--darkest-bg);
		background: var(--darkest-bg);
		width: 100%;
		display: flex;
		flex-direction: column;
		--line-height: 2ch;
		line-height: var(--line-height);

		position: relative;

		#terminal-inner {
			margin: 1ch;
			flex: 1;
			position: relative;
			overflow: hidden;
			min-height: calc(var(--line-height) * 5);
		}
	}
	
	#terminal-window:not(.maximised) {
		width: 120ch;
	}
	#terminal-window.maximised {
		top: unset !important;
		left: unset !important;
	}

	#wallpaper {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		// background: url('https://apod.nasa.gov/apod/image/2410/zaparolliA3.png');
		background-size: cover;
	}
</style>


<style is:global>
	:root {
		--text-normal: #d7dae0;
		--text-darker: #abb2bf;
		--text-muted: #7f848e;
		
		--lightest-bg: #3c424c;
		--lighter-bg: #333842;
		--light-bg: #2c313a;
		--dark-bg: #282c34;
		--darker-bg: #21252b;
		--darkest-bg: #181b20;
		--darkestest-bg: #101317;

		--one-dark-red: #BE5046;
		--one-dark-coral: #e06c75;
		--one-dark-yellow: #e5c07b;
		--one-dark-orange: #d19a66;
		--one-dark-green: #98c379;
		--one-dark-cyan: #56b6c2;
		--one-dark-blue: #61afef;
		--one-dark-purple: #c678dd;
	}
	html {
		background: #090b0e;
		color: var(--text-normal);
		font-family: 
			JetBrains Mono,
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
		font-size: 18px;
	}

	html, body {
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		min-width: 100%;
		min-height: 100%;
	}

	* {
		box-sizing: border-box;
	}
</style>
